/**********************************************************************************

	Project Name: Business Landing Page
	Project Description: A business landing page for Tuts+ Premium
	File Name: style.css
	Author: Adi Purdila
	Author URI: http://www.adipurdila.com
	Version: 1.0.0
	
**********************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**************************
Additional	
****************************/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/**************************
Font
****************************/
@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'Maven Pro';
  src: url('fonts/MavenPro-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
}
/**************************
LESS Variables
****************************/
/**************************
LESS Mixins
****************************/
/**************************
General Styles
****************************/
body {
  font: 14/21px "Open Sans", Helvetica, Arial, sans-serif;
  color: #434343;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
p {
  margin-bottom: 21px;
}
h1 {
  font: 42px/1.5em "Maven Pro", Helvetica, Arial, sans-serif;
}
h2 {
  font: 36px/1.5em "Ubuntu", Helvetica, Arial, sans-serif;
}
h3 {
  font: 30px/1.5em "Ubuntu", Helvetica, Arial, sans-serif;
}
h4 {
  font: 16px/1.5em "Ubuntu", Helvetica, Arial, sans-serif;
}
h5 {
  font: 14px/1.5em "Ubuntu", Helvetica, Arial, sans-serif;
}
h6 {
  font: 12px/1.5em "Ubuntu", Helvetica, Arial, sans-serif;
}
a {
  color: #0a7eab;
  text-decoration: none;
}
a:hover {
  color: #2fa1cd;
}
/***** HEADER-HERO *****/
.header-hero {
  background-color: #179bd7;
  padding: 36px 0 5px 0;
  text-align: center;
}
.header-hero nav {
  float: left;
  margin-top: 12px;
}
.header-hero nav ul li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 34px;
}
.header-hero nav ul li a {
  color: #ffffff;
  font: 20px "Ubuntu", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.header-hero nav ul li a:hover {
  color: #0a4f6e;
}
.header-hero img {
  margin-top: 150px;
  text-align: center;
}
.header-hero h1 {
  font-size: 40px;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  margin: 36px 0 0 0;
}
.header-hero h2 {
  color: #ffffff;
  font-size: 26px;
  line-height: 22px;
}
.header-hero .angle-down {
  display: block;
  color: #ffffff;
  font-size: 42px;
  margin-top: 50px;
}
.header-hero .angle-down:hover {
  color: #0a4f6e;
}
.social-icons {
  float: right;
}
.social-icons ul li {
  display: inline-block;
  margin-right: 24px;
}
.social-icons ul li a {
  font-size: 32px;
  color: #ffffff;
}
.social-icons ul li a:hover {
  color: #0a4f6e;
}
/***** ABOUT *****/
.section-about {
  background-color: #e1e1e1;
  padding: 64px 0;
  text-align: center;
}
.section-about h2 {
  margin-bottom: 22px;
}
.section-about p {
  font: 16px/26px 'Open Sans';
}
/***** SKILLS *****/
.skills {
  padding: 64px 0;
  text-align: center;
}
.skills h4 {
  font-size: 18px;
  color: #0a4f6e;
}
.skills .row {
  margin-top: 32px;
}
.skills li {
  margin-top: 20px;
  text-align: left;
}
.skills li .fa {
  font-size: 32px;
  text-align: center;
}
.skills li .fa-mobile {
  font-size: 42px;
  padding-left: 8px;
}
.skills li h3,
.skills li p {
  margin-left: 58px;
}
.skills li i[class~="fa"] {
  margin-top: 28px;
  float: left;
}
/***** WORKS *****/
.works-gallery {
  background: url('../img/works-bg.jpg');
  background-size: cover;
  padding: 64px 0;
  text-align: center;
}
.works-gallery h4 {
  font-size: 18px;
  color: #0a4f6e;
}
.cycle-slideshow {
  margin: 24px auto;
  width: 100%;
  max-width: 1184px;
}
.cycle-slideshow img {
  width: 100%;
  height: auto;
}
.cycle-prev,
.cycle-next {
  color: #179bd7;
  font-size: 28px;
  position: absolute;
  display: block;
  cursor: pointer;
}
.cycle-prev {
  top: 46%;
  left: -1.5em;
}
.cycle-next {
  top: 46%;
  right: -1.5em;
}
/***** Banner CTA *****/
.banner-cta {
  background: url('../img/cta-bg.jpg');
  background-size: cover;
  padding: 64px 0;
  text-align: center;
}
.banner-cta h3 {
  color: white;
}
.button-cta {
  margin-top: 24px;
}
/***** BLOG *****/
.blog {
  padding: 64px 0;
  text-align: center;
}
.blog h4 {
  font-size: 18px;
  color: #0a4f6e;
}
.blog .row {
  margin-top: 32px;
  margin-bottom: 14px;
  text-align: left;
}
.blog-post {
  background-color: #eaeaea;
  margin-bottom: 24px;
}
.blog-post img {
  width: 100%;
  height: auto;
  border: 1px solid #e0e0e0;
}
.blog-post h3 {
  line-height: 1.15em;
}
.post-details {
  padding: 24px 32px;
}
.post-details a:hover {
  text-decoration: none;
}
.post-details p a {
  margin-top: 24px;
  float: right;
}
.post-meta {
  line-height: 36px;
}
/***** CONTACT FORM *****/
.contact-area {
  background-color: #3a383d;
  padding: 64px 0;
  text-align: center;
}
.contact-area h2 {
  color: #ffffff;
}
.contact-area h4 {
  font-size: 18px;
  color: #59c2f2;
}
.contact-form {
  padding-top: 36px;
}
.contact-form input[type="name"],
.contact-form input[type="email"],
.contact-form textarea[type="message"],
.contact-form input[type="submit"] {
  font-family: 'Open Sans';
  font-size: 16px;
}
.contact-form input[type="name"],
.contact-form input[type="email"] {
  height: 42px;
  width: 432px;
  padding-left: 24px;
}
.contact-form .col-md-6 {
  padding-left: 7px;
  padding-right: 7px;
}
.contact-form input[type="name"] {
  float: right;
}
.contact-form input[type="email"] {
  float: left;
}
.contact-form textarea[type="message"] {
  margin-top: 20px;
  height: 162px;
  width: 878px;
  padding: 12px 24px;
}
.contact-form input[type="submit"] {
  line-height: 18px;
  margin-top: 28px;
  font-size: 14px;
}
.contact-button {
  background-color: transparent;
}
/***** FOOTER *****/
footer {
  background-color: #343235;
  padding-top: 64px;
  text-align: center;
}
footer img {
  height: 68px;
  width: 68px;
}
footer p {
  color: #8f8f8f;
}
.footer-social {
  padding-top: 36px;
}
.footer-social li {
  display: inline-block;
}
.footer-social li a {
  font-size: 32px;
  color: #ffffff;
  padding: 12px;
}
.footer-social li a:hover {
  color: #0a4f6e;
}
.footer-contact {
  color: #8f8f8f;
  padding: 24px 0 24px 470px;
  text-align: left;
  font-size: 16px;
}
.footer-contact li {
  padding: 4px 0;
}
.footer-contact li i {
  color: #fff;
  margin-right: 3px;
}
/**************
BLOG
**************/
/***** Page Header *****/
header {
  background-color: #179bd7;
  height: 92px;
}
header nav {
  float: left;
  margin-top: 37px;
}
header nav ul li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 22px;
}
header nav ul li a {
  color: #ffffff;
  font: 18px "Ubuntu", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #0a4f6e;
  text-decoration: none;
}
header .col-md-2 {
  text-align: center;
}
header img {
  height: 94px;
  width: 94px;
  margin: 12px auto 0;
}
.social-icons-pages {
  margin-top: 24px;
}
.active {
  color: #0a4f6e;
  cursor: default;
}
/***** Blog *****/
.blog-page ul {
  padding-top: 8px;
}
.blog-page ul li {
  display: inline-block;
  padding: 2px;
}
/***** UI *****/
.button {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  padding: 0 1em;
  height: 2.75em;
  line-height: 2.60em;
  text-transform: uppercase;
}
.button:hover {
  background-color: #fff;
  color: #179bd7;
  text-decoration: none;
}
.button:active {
  color: #179bd7;
}
.button-light-bg {
  border: 1px solid #179bd7;
  color: #179bd7;
}
.button-light-bg:hover {
  background-color: #179bd7;
  color: #fff;
}
.active-page {
  background-color: #179bd7;
  color: #ffffff;
  cursor: default;
}
